asgiref==3.7.2
backports.zoneinfo==0.2.1
crispy-bootstrap5==0.7
Django==4.0.10
django-ajax-datatable==4.4.5
django-bulk-load==1.2.2
django-components==0.28.1
django-crispy-forms==1.14.0
djangorestframework==3.14.0
jsonschema==4.17.3
psycopg2==2.9.7
pyrsistent==0.19.3
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
waitress==2.1.2
zipp==3.16.2
ldap3